services:
  kong:
    image: kong:3.9.1
    container_name: encurta-ai-kong
    ports:
      - "8000:8000"
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /etc/kong/kong-config.yaml
      KONG_PLUGINS: bundled
    volumes:
      - ./kong/kong-config.yaml:/etc/kong/kong-config.yaml
    networks:
      encurta-ai-network:
        ipv4_address: 10.200.0.10

  consul:
    image: hashicorp/consul:1.19
    container_name: encurta-ai-consul
    ports:
      - "8500:8500"
      - "8600:8600/udp"
      - "8502:8502"
    command: >
      consul agent -dev
      -client=0.0.0.0
      -ui
      -config-dir=/consul/config
    volumes:
      - ./consul/config:/consul/config
      - ./consul/policies:/consul/policies
    networks:
      encurta-ai-network:
        ipv4_address: 10.200.0.20
  
  consul-config:
    image: hashicorp/consul:1.19
    container_name: encurta-ai-consul-config-loader
    volumes:
      - ./consul/policies:/policies
    networks:
      encurta-ai-network:
        ipv4_address: 10.200.0.30
    depends_on:
      - consul
    command: >
      sh -c "
        sleep 15 &&
        echo 'Applying Consul configurations...' &&
        consul config write -http-addr=10.200.0.20:8500 /policies/proxy-defaults.hcl &&
        consul config write -http-addr=10.200.0.20:8500 /policies/ingress-gateway.hcl &&
        echo 'Configurations applied successfully!'
      "

  short-link-manager-service:
    build:
      context: ./short-link-manager-service
      dockerfile: Dockerfile
    container_name: encurta-ai-short-link-manager-service
    networks:
      encurta-ai-network:
        ipv4_address: 10.200.0.40
    depends_on:
      - short-link-manager-mongo

  short-link-manager-sidecar:
    build:
      context: ./consul/envoy
      dockerfile: Dockerfile
    container_name: encurta-ai-short-link-manager-sidecar
    network_mode: "container:encurta-ai-short-link-manager-service"
    command: >
      consul connect envoy -sidecar-for short-link-manager-service
      -http-addr=10.200.0.20:8500
      -grpc-addr=10.200.0.20:8502
      -admin-bind=127.0.0.1:19000
      -ignore-envoy-compatibility
      -- -l trace
    environment:
      CONSUL_HTTP_ADDR: "10.200.0.20:8500"
      CONSUL_GRPC_ADDR: "10.200.0.20:8502"
    depends_on:
      - short-link-manager-service
      - consul
      - consul-config

  redirect-service:
    build:
      context: ./redirect-service
      dockerfile: Dockerfile
    container_name: encurta-ai-redirect-service
    networks:
      encurta-ai-network:
        ipv4_address: 10.200.0.60

  redirect-service-sidecar:
    build:
      context: ./consul/envoy
      dockerfile: Dockerfile
    container_name: encurta-ai-redirect-service-sidecar
    network_mode: "container:encurta-ai-redirect-service"
    command: >
      consul connect envoy -sidecar-for redirect-service
      -http-addr=10.200.0.20:8500
      -grpc-addr=10.200.0.20:8502
      -admin-bind=127.0.0.1:19000
      -ignore-envoy-compatibility
      -- -l trace
    environment:
      CONSUL_HTTP_ADDR: "10.200.0.20:8500"
      CONSUL_GRPC_ADDR: "10.200.0.20:8502"
    depends_on:
      - redirect-service
      - consul
      - consul-config

  short-link-key-service:
    build:
      context: ./short-link-key-service
      dockerfile: Dockerfile
    container_name: encurta-ai-short-link-key-service
    networks:
      encurta-ai-network:
        ipv4_address: 10.200.0.70
    depends_on:
      - short-link-key-redis

  short-link-key-sidecar:
    build:
      context: ./consul/envoy
      dockerfile: Dockerfile
    container_name: encurta-ai-short-link-key-sidecar
    network_mode: "container:encurta-ai-short-link-key-service"
    command: >
      consul connect envoy -sidecar-for short-link-key-service
      -http-addr=10.200.0.20:8500
      -grpc-addr=10.200.0.20:8502
      -admin-bind=127.0.0.1:19000
      -ignore-envoy-compatibility
      -- -l trace
    environment:
      CONSUL_HTTP_ADDR: "10.200.0.20:8500"
      CONSUL_GRPC_ADDR: "10.200.0.20:8502"
    depends_on:
      - short-link-key-service
      - consul
      - consul-config
  
  consul-ingress-gateway:
    build:
      context: ./consul/envoy
      dockerfile: Dockerfile
    container_name: encurta-ai-consul-ingress-gateway
    command: >
      consul connect envoy
      -gateway=ingress 
      -register=false
      -service=ingress-gateway
      -http-addr=10.200.0.20:8500
      -grpc-addr=10.200.0.20:8502
      -admin-bind=127.0.0.1:19000
      -ignore-envoy-compatibility
      -- -l trace
    environment:
      CONSUL_HTTP_ADDR: "10.200.0.20:8500"
      CONSUL_GRPC_ADDR: "10.200.0.20:8502"
    networks:
      encurta-ai-network:
        ipv4_address: 10.200.0.80
    depends_on:
      - consul
      - consul-config

  short-link-key-redis:
    image: redis/redis-stack:7.4.0-v8
    container_name: encurta-ai-short-link-key-redis
    networks:
      encurta-ai-network:
    volumes:
      - short-link-key-redis-data:/data

  short-link-manager-mongo:
    image: mongo:8.0
    container_name: encurta-ai-short-link-manager-mongo
    volumes:
      - short-link-manager-mongo-data:/data/db
    networks:
      encurta-ai-network:

volumes:
  short-link-key-redis-data:
  short-link-manager-mongo-data:

networks:
  encurta-ai-network:
    external: true